<section class="guarantee">
    <div class="container">
        <div class="guarantee__content">
            <h2 class="section_title">Наши гарантии</h2>

            <div class="content__list">
                <div class="list__item">
                    <img src="../img/list_pixels/pixels_1.svg" class="item__img" alt="">
                    <div class="item__info">
                        <h3 class="info__title">Доказанный эффект</h3>
                        <p class="info__text">Мощность и универсальность для продвинутых методов лечения сложных случаев</p>
                    </div>
                </div>

                <div class="list__item">
                    <img src="../img/list_pixels/pixels_2.svg" class="item__img" alt="">
                    <div class="item__info">
                        <h3 class="info__title">Натуральный состав косметики</h3>
                        <p class="info__text">Мощность и универсальность для продвинутых методов лечения сложных случаев</p>
                    </div>
                </div>

                <div class="list__item">
                    <img src="../img/list_pixels/pixels_3.svg" class="item__img" alt="">
                    <div class="item__info">
                        <h3 class="info__title">Гарантия 2 года</h3>
                        <p class="info__text">Мощность и универсальность для продвинутых методов лечения сложных случаев</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>