<section class="questions">
    <div class="top__pixels enrollment__pixels">
        <img src="../img/enrollment/left_top_pixels.png" alt="">
        <img src="../img/enrollment/center_top_pixels.png" alt="">
        <img src="../img/enrollment/right_top_pixels.png" alt="">
    </div>

    <div class="questions__content">
        <h2 class="section_title content__title">Остались вопросы?</h2>
        <p class="content__text">и мы перезвоним вам через час</p>

        <div class="content__form_block">
            <form class="content__form">
                <div class="form__inputs">
                    <div class="form__div">
                        <input type="text" class="form__input" placeholder=" " id="name_input" required>
                        <label for="name_input" class="form__label">ФИО</label>
                    </div>
    
                    <div class="form__div">
                        <input type="email" class="form__input" placeholder=" " id="email_input" required>
                        <label for="email_input" class="form__label">Почта</label>
                    </div>
    
                    <div class="form__div">
                        <input type="text" class="form__input" placeholder=" " id="phone_input" required>
                        <label for="phone_input" class="form__label">Телефон</label>
                    </div>
                </div>

                <div class="form__textarea">
                    <div class="form__div">
                        <textarea class="form__input" name="question_textarea" id="question_textarea" placeholder=" " cols="30" rows="9.5" required></textarea>
                        <label for="question_textarea" class="form__label">Остались вопросы?</label>
                    </div>
                </div>

                <div class="form__bottom">
                    <button class="button button-white form__btn">Получить консультацию</button>

                    <div class="form__check_item">
                        <label class="item__check">
                            <input type="checkbox" class="check__input" required>
                            <span class="check__custom"></span>
                            <span class="check__text">Согласие на обработку персональных данных</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="bottom__pixels enrollment__pixels">
        <img src="../img/enrollment/bottom_right_pixels.png" alt=""/>
        <img src="../img/enrollment/bottom_center_pixels.png" alt=""/>
        <img src="../img/enrollment/bottom_left_pixels.png" alt=""/>
    </div>
</section>