<section class="seminars">
    <img src="../img/line/bg_line.svg" class="seminars__image" alt="">
    <img src="../img/line/mb_bg_line.svg" class="seminars__image seminars__image-mb" alt="">

    <div class="seminars__content">
        <h3 class="content__title">
            Семинары по аппаратной и лазерной косметологии LUTRONIC и CLASSYS, профессиональному уходу за кожей с косметикой HISTOLAB, Skinwell, BNV Biolab, PRP-терапии
        </h3>

        <img class="content__rhombus" src="../img/icons/white-rhombus.svg" alt="">

        <p class="content__text">Cеминары и вебинары по профессиональной косметике Histolab, Skinwell, BNV Biolab, PRP-терапии, аппаратной косметологии на лазерных аппаратах Lutronic, косметологических аппаратах Classys проводятся ТОЛЬКО ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ по телефону:</p>
    
        <p class="content__bottom content__bottom-phone">+7 (495) 032 76 16</p>
        <p class="content__bottom">Место проведения семинаров:</p>
        <p class="content__bottom">Москва, ул. Пресненский Вал, д. 14, корп. 2</p>
    </div>
</section>