.footer{
    padding: 32px 0px 21px 0px;

    .footer__content{
      .footer__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .top__logo{
          max-width: 310px;
          img{
            width: 100%;
          }

          @media screen and (max-width: 1100px) {
            margin-bottom: 24px;
            max-width: 310px;
          }
        }
  
        .top__nav{
          .nav__item{
            @include text(#272727,24px,400);
            margin-right: 66px;
          }

          @media screen and (max-width: 1100px) {
            margin-bottom: 24px;
          }
        }
  
        .top__phone{
          @include text(#272727,32px,300)
        }

        @media screen and (max-width: 1700px) {
          .top__logo{
            max-width: 230px;
          }

          .top__nav{
            .nav__item{
              @include text(#272727,22px,400);
              margin-right: 36px;
            }
          }

          .top__phone{
            @include text(#272727,26px,300)
          }
        }

        @media screen and (max-width: 1400px) {
          .top__nav{
            .nav__item{
              @include text(#272727,20px,400);
              margin-right: 26px;
            }
          }
        }

        @media screen and (max-width: 1250px) {
          .top__nav{
            .nav__item{
              @include text(#272727,20px,400);
              margin: 0px 13px;
            }
          }

          .top__phone{
            @include text(#272727,24px,300)
          }
        }

        @media screen and (max-width: 1150px) {
          .top__logo{
            max-width: 200px;
          }
          .top__nav{
            .nav__item{
              @include text(#272727,20px,400);
              margin: 0px 8px;
            }
          }
        }
      }
  
      .footer__contacts{
        position: relative;
        margin-top: 17px;
  
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
  
        .contacts__geolocation{
          .geolocation__item{
            margin-bottom: 10px;
            @include text(#272727,18px,300,22px);

            @media screen and (max-width: 500px) {
              @include text(#272727,17px,300);
            }
          }
        }
  
        .contacts__email{
          position: absolute;
          display: block;
          margin-left: 50%;
          transform: translateX(-50%);
          @include text(#272727,18px,300,22px);

          @media screen and (max-width: 1150px) {
            margin-left: 60%;
          }
          @media screen and (max-width: 1100px) {
            margin-bottom: 10px;
          }
        }
  
        .contacts__socials{
  
          .socials__item{
            margin-left: 24px;
            transition: all .3s linear;
  
            &:hover{
              filter: saturate(360%) sepia(100%) invert(100%);
            }
          }

          @media screen and (max-width: 1100px) {
            margin-bottom: 16px;
          }
        }
  
      }
  
      .footer__bottom{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
  
        .bottom__copyright{
          @include text(#AAAFB4,16px,300,19px) ;
  
          .copyright__text{
            margin-right: 20px;
          }
          .copyright__link{
            margin-right: 10px;
            color: #AAAFB4 !important;
          }

          @media screen and (max-width: 600px) {
            text-align: center;
            .copyright__link, .copyright__text{
              margin: 0;
            }

            .copyright__link{
              display: block;
              margin-top: 5px;
            }
          }
        }
  
        .bottom__digital{
          @media screen and (max-width: 1100px) {
            margin-bottom: 10px;
          }
        }
      }

      .mb__logo{
        display: none;
      }

      @media screen and (max-width: 1100px) {
        display: flex;
        flex-direction: column;

        .footer__top{
          flex-direction: column;
        }

        .footer__contacts{
          align-items: center;
          flex-direction: column;
          text-align: center;

          .contacts__geolocation{
            order: 3;
          }

          .contacts__email{
            order: 2;
            position: relative;

            margin-left: 0;
            transform: translateX(0%);
          }

          .contacts__socials{
            order: 1;
            .socials__item{
              margin: 0px 12px;
              
              transition: all .3s linear;
              img{
                transform: scale(1.2);
              }
              &:hover{
                filter: saturate(360%) sepia(100%) invert(100%);
              }
            }
          }
        }

        .footer__bottom{
          display: flex;
          flex-direction: column;
          align-items: center;

          .bottom__copyright{
            order: 2;
          }
          .bottom__digital{
            order: 1;
          }
        }
      }

      @media screen and (max-width: 700px) {
        .mb__logo{
          display: block;
          margin: 0 auto;
          transform: translateX(-5px);
        }
        .footer__top{
          order: 2;

          .top__phone{
            order: 1;
            margin-bottom: 17px;
          }

          .top__logo{
            display: none;
          }

          .top__nav{
            order: 2;
            flex-direction: column;
            text-align: center;
            .nav__item{
              margin: 0;
              margin-top: 22px;
              display: block;
            }
          }
        }
        .footer__contacts{
          order:1
        }
        .footer__bottom{
          order: 3;
        }
      }

      @media screen and (max-width: 600px) {

      }
    }

    @media screen and (max-width: 600px) {
      padding-bottom: 5px;
    }
  }