.footer{
    padding: 32px 0px 21px 0px;
    .footer__content{
  
      .footer__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .top__logo{
          max-width: 310px;
          img{
            width: 100%;
          }
        }
  
        .top__nav{
          .nav__item{
            @include text(#272727,24px,400);
            margin-right: 66px;
          }
        }
  
        .top__phone{
          @include text(#272727,32px,300)
        }

        @media screen and (max-width: 1700px) {
          .top__logo{
            max-width: 230px;
          }

          .top__nav{
            .nav__item{
              @include text(#272727,22px,400);
              margin-right: 36px;
            }
          }

          .top__phone{
            @include text(#272727,26px,300)
          }
        }

        @media screen and (max-width: 1400px) {
          .top__nav{
            .nav__item{
              @include text(#272727,20px,400);
              margin-right: 26px;
            }
          }
        }

        @media screen and (max-width: 1250px) {
          .top__nav{
            .nav__item{
              @include text(#272727,20px,400);
              margin: 0px 13px;
            }
          }

          .top__phone{
            @include text(#272727,24px,300)
          }
        }

        @media screen and (max-width: 1150px) {
          .top__logo{
            max-width: 200px;
          }
          .top__nav{
            .nav__item{
              @include text(#272727,20px,400);
              margin: 0px 8px;
            }
          }
        }
      }
  
      .footer__contacts{
        position: relative;
        margin-top: 17px;
  
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
  
        .contacts__geolocation{
          .geolocation__item{
            margin-bottom: 10px;
            @include text(#272727,18px,300,22px);
          }
        }
  
        .contacts__email{
          position: absolute;
          display: block;
          margin-left: 50%;
          transform: translateX(-50%);
          @include text(#272727,18px,300,22px);

          @media screen and (max-width: 1150px) {
            margin-left: 60%;
          }
        }
  
        .contacts__socials{
  
          .socials__item{
            margin-left: 24px;
            transition: all .3s linear;
  
            &:hover{
              filter: saturate(360%) sepia(100%) invert(100%);
            }
          }
        }
  
      }
  
      .footer__bottom{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
  
        .bottom__copyright{
          @include text(#AAAFB4,16px,300,19px) ;
  
          .copyright__text{
            margin-right: 20px;
          }
          .copyright__link{
            margin-right: 10px;
            color: #AAAFB4 !important;
          }
        }
  
        .bottom__digital{
  
        }
      }
    }
  }