.about_us-page{
    &__intro{
        position: relative;
       
        padding-bottom: 66px;

        .intro__content{
            display: flex;
            position: relative;

            .content__info {
                position: relative;
                z-index: 2;
                flex: 0 1 60%;

                margin-right: -100px;

                padding-top: 30px;
                
                .info__logo {
                    width: 403px;
                    margin-bottom: 30px;
    
                    img{
                        width: 100%;
                    }

                    @media screen and (max-width: 1400px) {
                        width: 303px;
                    }
                    @media screen and (max-width: 1200px) {
                        width: 403px; 
                    }
                    @media screen and (max-width: 750px) {
                        margin-bottom: 15px;
                    }
                    @media screen and (max-width: 650px) {
                        width: 340px;
                    }

                    @media screen and (max-width: 450px) {
                        width: 300px;
                    }
                    @media screen and (max-width: 360px) {
                        width: 283px;
                    }
                }
                
                .info__grey {
                    margin-left: -80px;
                    padding: 24px 80px;
                    display: flex;

                    background: #F1F1F1;
                    margin-bottom: 48px;

                    .grey__img {
                        width: 16px;
                        margin-right: 15px;
                        
                        img{
                            margin-bottom: -10px;
                            width: 100%;
                            min-width: 16px;
                        }

                        @media screen and (max-width: 450px) {
                            img{
                                min-width: 14px; 
                                margin-bottom: -3px; 
                            }
                        }
                    }

                    .grey__text {
                        font-family: Garamond;
                        max-width: 828px;

                        @include text($black,28px,400px,32px)
                    }

                    @media screen and (max-width: 1200px) {
                        margin-left: -40px;
                        margin-right: -40px;
                        padding: 24px 40px;
                    }

                    @media screen and (max-width: 750px) {
                        margin-bottom: 25px;
                    }

                    @media screen and (max-width: 650px) {
                        margin-left: -24px;
                        margin-right: -24px;
                        padding: 24px;

                        .grey__text{
                            @include text($black,22px,400px)
                        }
                    }

                    @media screen and (max-width: 450px) {
                        margin-left: -16px;
                        margin-right: -16px;
                        padding: 8px 16px;

                        .grey__text{
                            @include text($black,18px,400px)
                        }
                    }

                    @media screen and (max-width: 400px) {
                        width: 100vw;
                        margin-right: 0px;
                    }

                    @media screen and (max-width: 400px) {
                        .grey__text{
                            @include text($black,16px,400px)
                        }
                    }
                }

                .info__text {
                    max-width: 529px;
                    margin-right: 147px;
                    // padding-right: 130px;
                    margin-bottom: 37px;
                    margin-left: auto;
                    font-family: Garamond;

                    @include text($black,24px,400,27px);
                    
                    .red{
                        font-family: Garamond;
                        color: #E11F26 !important;
                    }

                    @media screen and (max-width: 1200px) {
                        margin-right: 0px;
                        margin-left: 31px;
                        margin-bottom: 45px;
                        max-width: 70vw;
                    }

                    @media screen and (max-width: 900px) {
                        max-width: initial;
                        margin-bottom: 55px;
                    }

                    @media screen and (max-width: 750px) {
                        margin-bottom: 44px;
                    }

                    @media screen and (max-width: 650px) {
                        @include text($black,20px,400);
                    }

                    @media screen and (max-width: 450px) {
                        @include text($black,16px,400);
                    }
                    @media screen and (max-width: 400px) {
                        margin-left: 0px;
                        padding-left: 29px;
                        padding-right: 16px;
                    }
                }

                .info__partners {
                    display: flex;
                    max-width: 60%;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .partners__item {
                        flex: 0 1 32%;
                        margin-bottom: 27px;

                        img{
                            width: 90%;
                        }
                    }

                    @media screen and (max-width: 1400px) {
                        max-width: 70%;
                    }
                    @media screen and (max-width: 900px) {
                        max-width: 100%;
                    }

                    @media screen and (max-width: 650px) {
                        .partners__item {
                            flex: 0 1 50%;
                            margin-bottom: 40px;

                            img{
                                width: 75%;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    @media screen and (max-width: 450px) {
                        padding-right: 16px;

                        .partners__item {
                            img{
                                width: 85%;
                            }
                        }
                    }
                }

                @media screen and (max-width: 1200px) {
                    flex: 0 1 100%;
                }

                @media screen and (max-width: 750px) {
                    padding-top: 24px;
                }
            }
    
            .content__img {
                position: relative;
                z-index: 1;
                flex: 0 1 50%;

                img{
                    width: 100%;
                }

                @media screen and (max-width: 1200px) {
                    display: none;
                }
            }  
        }

        @media screen and (max-width: 500px) {
            padding-bottom: 30px;
        }
    }

    &__sertificates{
        padding: 100px 0px;
        background: #F1F1F1;

        .sertificates__content{
            .content__text{
                max-width: 553px;
                margin: 0 auto;
                margin-top: 27px;
                text-align: center;

                font-family: Garamond;
                @include text($black,24px,400);

                @media screen and (max-width: 500px) {
                    margin-top: 16px;
                    @include text($black,20px,400);
                }
                @media screen and (max-width: 400px) {
                    @include text($black,18px,400);
                }
                @media screen and (max-width: 360px) {
                    @include text($black,16px,400);
                }
            }

            .content__images {
                max-width: 1360px;
                margin: 0 auto;
                margin-top: 45px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .images__item {
                    flex: 0 1 31%;
                    img{
                        width: 100%;
                    }
                }
                @media screen and (max-width: 700px) {
                    flex-wrap: wrap;
                    align-items: initial;
                    .images__item {
                        flex: 0 1 48%;
                        img{
                            width: 100%;
                        }
                    }
                }

                @media screen and (max-width: 500px) {
                    margin-top: 32px;
                    .images__item {
                        flex: 0 1 70%;
                        margin: 0 auto;
                        margin-bottom: 16px;
                        img{
                            width: 100%;
                        }
                    }
                }

                @media screen and (max-width: 400px) {
                    .images__item {
                        flex: 0 1 80%;
                    }
                }
            }
            
        }

        @media screen and (max-width: 500px) {
            padding: 45px 0px;
        }
    }
    
    &__geolocation{
        padding-top: 98px;
        padding-bottom: 124px;

        .section_title{
            text-align: left;

            @media screen and (max-width: 700px) {
                text-align: center;
            }
        }

        .geolocation__content{
            margin-top: 41px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .content__image{
                position: relative;
                z-index: 2;
                flex: 0 1 60%;

                img{
                    width: 100%;
                }

                @media screen and (max-width: 1500px) {
                    flex: 0 1 70%;
                    margin: 0 auto;
                    margin-bottom: 32px;
                }

                @media screen and (max-width: 1000px) {
                    flex: 0 1 85%;
                }

                @media screen and (max-width: 700px) {
                    flex: 0 1 100%;
                }
            }

            .content__info{
                position: relative;
                z-index: 1;
                flex: 0 1 39%;

                .info__text{
                    max-width: 553px;

                    margin-left: 40px;
                    margin-bottom: 32px;

                    p{
                        font-family: Garamond;
                        @include text($black,18px,400);
                        margin-bottom: 26px;

                        @media screen and (max-width: 1500px) {
                            @include text($black,24px,400);
                        }

                        @media screen and (max-width: 700px) {
                            @include text($black,20px,400);
                            margin-bottom: 16px;
                        }

                        @media screen and (max-width: 500px) {
                            @include text($black,18px,400px);
                        }

                        @media screen and (max-width: 450px) {
                            @include text($black,16px,400px);
                        }
                    }

                    @media screen and (max-width: 1500px) {
                        max-width: 900px;
                    }

                    @media screen and (max-width: 1000px) {
                        margin-left: 0px;
                        margin-right: 0px;
                        padding-right: 40px;
                    }

                    @media screen and (max-width: 650px) {
                        margin-bottom: 0px;
                        padding-right: 24px;
                    }

                    @media screen and (max-width: 450px) {
                        padding-right: 16px;
                    }
                }

                .info__grey {
                    margin-left: -300px;
                    background: #F1F1F1;
                    padding: 28px 0px;

                    .grey__container{
                        max-width: 620px;
                        margin-left: auto;
                        padding-right: 50px;

                        display: flex;
                        align-items: flex-start;

                        .grey__img {
                            width: 27px;
                            margin-right: 20px;
                            
                            img{
                                width: 100%;
                                margin-bottom: -10px;
                            }

                            @media screen and (max-width: 500px) {
                                width: 16px;
                                margin-right: 16px;

                                img{
                                    margin-bottom: -3px;
                                }
                            }
                        }
                        .grey__text {
                            font-family: Garamond;
                            @include text($black,32px,400px,32px);

                            @media screen and (max-width: 700px) {
                                @include text($black,24px,400px);
                            }

                            @media screen and (max-width: 500px) {
                                @include text($black,18px,400px);
                            }
                            @media screen and (max-width: 450px) {
                                @include text($black,16px,400px);
                            }
                        }

                        @media screen and (max-width: 1700px) {
                            max-width: 520px;
                        }

                        @media screen and (max-width: 500px) {
                            padding-right: 0px;
                        }
                    }
                    @media screen and (max-width: 1500px) {
                        margin-left: -60px;
                        padding-left: 60px;
                        padding-right: 60px;
                        width: 100vw;

                        .grey__container{
                            margin-left: 0px;
                            font-weight: bold;
                            max-width: 800px;
                        }
                    }

                    @media screen and (max-width: 1330px) {
                        margin-left: -40px;
                        padding-left: 40px;
                        padding-right: 40px;
                    }

                    @media screen and (max-width: 650px) {
                        margin-left: -24px;
                        padding-left: 24px;
                        padding-right: 24px;
                    }

                    @media screen and (max-width: 450px) {
                        margin-left: -16px;
                        padding: 16px;
                    }
                }

                @media screen and (max-width: 1500px) {
                    flex: 0 1 100%;
                }
            }

            @media screen and (max-width: 1500px) {
                flex-wrap: wrap;
            }

            @media screen and (max-width: 500px) {
                margin-top: 32px;
            }
        }

        @media screen and (max-width: 1500px) {
            padding-bottom: 0px;   
        }

        @media screen and (max-width: 600px) {
            padding-top: 50px;
        }
    }

    &__offer{
        background: #F1F1F1;
        padding: 96px 0px 100px 0px;

        .offer__content{
            margin-top: 48px;

            .content__list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                padding-bottom: 56px;

                .list__item {
                    flex: 0 1 24%;
                    background: #fff;
                    
                    .item__image {
                        .item__mb{
                            display: none;
                        }
                        @media screen and (max-width: 500px) {
                            img{
                                display: none;
                            }
                            .item__mb{
                                display: block;
                            }
                        }
                    }

                    .item__info{
                        padding: 31px 24px 24px 24px;
                        .info__title{
                            @include text($black,24px,300);
                            margin-bottom: 16px;

                            @media screen and (max-width: 500px){
                                margin-bottom: 8px;
                            }
                        }

                        .info__text{
                            font-family: Garamond;
                            padding-left: 16px;
                            @include text($black,18px,400);

                            @media screen and (max-width: 500px){
                                @include text($black,16px,400);
                            }
                        }

                        @media screen and (max-width: 500px){
                            padding: 15px 31px 16px 16px;
                        }
                    }
                }

                @media screen and (max-width: 1500px) {
                    .list__item{
                        flex: 0 1 32%;
                        margin-bottom: 32px;

                        &:last-child{
                            margin: 0 auto;
                        }
                    }
                }

                @media screen and (max-width: 1200px) {
                    .list__item{
                        flex: 0 1 48.5%;
                        margin-bottom: 32px;

                        &:last-child{
                            margin: 0;
                            margin-bottom: 32px;
                        }
                    }
                }

                @media screen and (max-width: 750px) {
                    .list__item{
                        flex: 0 1 70%;
                        margin-left: auto;
                        margin-right: auto;
                        &:last-child{
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
                @media screen and (max-width: 600px) {
                    .list__item{
                        flex: 0 1 90%;
                    }
                }

                @media screen and (max-width: 500px) {
                    padding-bottom: 15px;
                    .list__item{
                        flex: 0 1 100%;
                    }
                }
            }

            .content__seminars{
                max-width: 860px;
                margin: 0 auto;
                text-align: center;

                .seminars__line{
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(267.29deg, #E11F26 4.23%, #DD408B 104.93%), #C4C4C4;
                    margin-bottom: 50px;

                    @media screen and (max-width: 500px) {
                        display: none;
                    }
                }

                .seminars__big_text{
                    font-family: Garamond;
                    @include text($black,32px,400,36px);

                    @media screen and (max-width: 500px) {
                        @include text($black,24px,400);
                    }
                }

                .seminars__image{
                    display: block;
                    width: 15px;
                    margin: 20px auto;
                }

                .seminars__clinic{
                    font-family: Garamond;
                    @include text($black,28px,400,36px);

                    .clinic__link{
                        font-weight: 600;
                        font-family: Garamond;
                        text-decoration: underline;
                        color: #de3364;
                    }

                    @media screen and (max-width: 500px) {
                        @include text($black,22px,400);
                        .clinic__link{
                            display: block;
                        }
                    }
                }
            }

            @media screen and (max-width: 500px) {
                margin-top: 32px;
            }
        }

        @media screen and (max-width: 500px) {
            padding: 50px 0px;
        }
    }
}