@mixin text($clr, $fs, $fw:400, $lh: normal){
    color: $clr;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin modalContainer($width,$margin){
    max-width: $width;
    width: 100%;
    margin: $margin;
}

@mixin modal($width){
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000000000000000000;

    display: none; // to flex
    align-items: center;
    justify-content: center;
    display: none;

    transition: all .2s linear;
    opacity: 0;

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 200;
        background: rgba(0,0,0,.4);
    }

    .modal__content{
        position: relative;
        z-index: 300;

        max-width: $width;
        padding: 80px 16px 88px 16px;
        width: 100%;
        background: #fff;

        text-align: center;

        &__title{
            @include text($black,48px,300);
            margin-bottom: 16px;

            @media screen and (max-width: 600px) {
                @include text($black,32px,300);
                margin-bottom: 24px;
            }
        }

        &__text{
            font-family: Garamond;
            @include text($black,24px,normal);
            margin: 0 auto;

            @media screen and (max-width: 600px) {
                @include text($black,20px,300);
            }
        }

        &__form{
            margin-top: 23px;
            display: flex;
            flex-direction: column;

            .form__div {
                flex: 0 1 100%;
                position: relative;
                color: $black;
                margin-bottom: 24px;
                
        
                .form__input {
                  width: 100%;
                  background: transparent;
                  padding: 21px 24px;
                  position: relative;
                  z-index: 2;
                  color: $black;
        
                  border: 1px solid #848484;
                  outline: none;
                  border-radius: 8px;
        
                  @include text($black, 18px, 400);
                }
        
                .form__input:focus + .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
                  top: 10px;
                  font-size: 12px;
                  z-index: 10;
                }
        
                .form__input:focus, .form__input:not(:placeholder-shown) {
                  padding: 29px 24px 13px 24px;
                }
        
                .form__label {
                  transition: all .2s linear;
                  position: absolute;
                  left: 24px;
                  top: 21px;
                  z-index: 1;
                  @include text(#848484, 18px, 400);
                }
              }
        
              .form__check_item{
                flex: 0 1 100%;
        
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0;
                margin-top: 24px;
                margin-left: 30px;
                text-align: left;
        
                .item__check{
                  display: flex;
                  align-items: center;
        
                  cursor: pointer;
        
                  .check__input{
                    display: none;
                  }
        
                  .check__custom{
                    position: relative;
        
                    display: block;
                    min-width: 22px;
                    min-height: 22px;
                    border-radius: 4px;
                    background: transparent;
                    border: 1px solid #848484;
                    transition: .1s linear;
        
                    &:before{
                      opacity: 0;
        
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%,-50%);
        
                      width: 15px;
                      height: 11px;
                      background: url("../img/icons/checked.svg") no-repeat center;
        
                      transition: .1s linear;
                    }
                  }
        
                  .check__input:checked + .check__custom{
                    background: white;
                  }
        
                  .check__input:checked + .check__custom:before{
                    opacity: 1;
                  }
        
                  .check__text{
                    margin-left: 8px;
                    @include text($black, 14px, 400);
                    transition: .1s linear;

                    @media screen and (max-width: 450px) {
                        font-size: 12px;
                    }
                  }
                }

                @media screen and (max-width: 360px) {
                    margin-left: 0px;
                }
              }
        }

        a{
            text-decoration: none;
        }

        .modal__btn{
            display: block;
            width: 100%;
            padding: 21px 16px 21px 16px;
            margin-top: 8px;

            cursor: pointer;

            transition: .2s linear;
        }
    }

    // @media screen and (max-width: 450px) {
    //     .overlay{
    //         background: #fff;
    //         user-select: none;
    //     }
    // }
    }