.close{
    position: absolute;
    top: 32px;
    right: 32px;

    cursor: pointer;

    
    @media screen and (max-width: 450px) {
        top: 16px;
        right: 16px;
    }
}

// .modal_bell{
//     @include modal()    
// }

.order_modal{
    @include modal(1200px);

    transition: .2s linear;

    .form__container{
        @include modalContainer(410px, 22px auto);

    }

    .modal__content{
        padding-top: 80px;
        padding-bottom: 80px;

        @media screen and (max-width: 450px) {
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }

        &__text{}

        &__title{
            @media screen and (max-width: 450px) {
                max-width: 207px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media screen and (max-width: 400px) {
            height: 100vh;
        }
    }

    &__text{
        margin-top: 24px;
    }

    @media screen and (max-width: 450px) {
        @include modal(100vw);
    }
    
}

#orderAcceptedModal{
    .modal__content{
        padding-top: 128px;
        padding-bottom: 128px;

        &__title{
            margin-bottom: 32px;

            @media screen and (max-width: 450px) {
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 24px;
            }
        }

        &__text{
            margin-bottom: 48px;

            @media screen and (max-width: 500px) {
                max-width: 150px;
                margin-bottom: 32px;
            }
        }

        .modal__btn{
            max-width: 208px;
            display: block;
            margin: 0 auto;

            @media screen and (max-width: 500px) {
                max-width: 164px;
                padding: 13px 44px;
            }
        }

        @media screen and (max-width: 400px) {
            height: initial;
        }

        @media screen and (max-width: 450px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}
