.one-product{
    &__intro{
        padding-top: 12px;

        .intro__content{
            display: flex;
            align-items: flex-start;

            .content__info {
                position: relative;
                flex: 0 1 45%;
                padding-left: 40px;
                padding-bottom: 148px;
                overflow: hidden;
    
                .info__logo{
                    max-width: 140px;
                    margin-bottom: 35px;
                    img{
                        width: 100%;
                    }
                }
                .info__suptitle{
                    @include text($black,48px,300);
                }
                .info__title{
                    @include text($black,64px,400);
                    margin-bottom: 35px;
                }
    
                .info__block{
                    padding-left: 50px;
                    .block__text{
                        font-family: Garamond;
                        @include text($black,24px,400);
                        max-width: 450px;
                        margin-bottom: 50px;
                    }

                    .block__btn{
                        padding: 21px 65px;
                        font-size: 18px;
                    }
                }

                .info__grey{
                    width: 200%;
                    position: absolute;
                    bottom: 0;
                    left: -40px;;
                    min-height: 72%;
                    z-index: -1;

                    background: #F1F1F1;
                }
            }
    
            .content__video {
                flex: 0 1 55%;
                

                img{
                    display: block;
                    max-width: 100%;
                    min-height: 637px;
                }
            }
        }
        
    }

    &__about{
        position: relative;
        padding-top: 98px;
        padding-bottom: 147px;

        .about__content{
            padding: 0px 16px;
            
            max-width: 1330px;
            margin: 0 auto;
            margin-top: 40px;

            display: flex;
            

            .content__info{
                flex: 0 1 50%;

                .info__title{
                    @include text($black,32px,300);
                    margin-bottom: 24px;
                }

                .info__block{
                    padding-left: 40px;

                    .block__text{
                        font-family: Garamond;
                        @include text($black,20px,400);
                        margin-bottom: 27px;
                    }
                    .block__buttons{
                        display: flex;


                        .buttons__item{
                            display: flex;
                            align-items: center;
                            padding: 15px 24px;

                            border: 1px solid #F1F1F1;

                            color: $black;
                            font-weight: 700;
                            margin-right: 18px;
                            transition: all .2s linear;

                            img{
                                margin-right: 15px;
                            }

                            &:hover{
                                background: rgba(241, 241, 241,.6);
                            }
                        }
                    }
                }
                
            }
        }

        .about__img{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            max-width: 64%;
            z-index: -1;
            display: block;
        }
    }

    &__benefits{
        padding: 124px 0px 110px 0px;
        background: #F1F1F1;

        .benefits__content{
            margin-top: 60px;
            padding-right: 80px;

            display: flex;

            .content__sliders{
                flex: 0 1 50%;
                padding: 14px 44px;

                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: #D7D7D7;
                min-width: 0;

                .sliders__big{
                    flex: 0 1 70%;
                    min-width: 0;

                    .big__slider{

                    }

                    .big__slide{
                        img{
                            max-width: 100%;
                        }
                    }
                }

                .sliders__small{
                    flex: 0 1 10%;
                    min-width: 0;
                    min-height: 0;
                    max-height: 300px;
                    height: 100%;

                    position: relative;

                    .small__slider{
                        min-width: 0;

                        min-height: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .small__slide{
                        opacity: .5;
                        transition: all .2s linear;
                        img{
                            max-width: 100%;
                        }
                    }
                    .swiper-slide-active{
                        opacity: 1;
                    }
                    
                    .small__slider_prev, .small__slider_next{
                        position: absolute;
                        &:after{
                            content: "";
                        }
                    }

                    .small__slider_prev{
                        top: -25px;
                        left: 52%;
                        transform: scale(1.1) translateX(-50%);
                    }

                    .small__slider_next{
                        top: initial;
                        bottom: -35px;
                        left: 52%;
                        transform: scale(1.1) translateX(-50%);
                    }
                }
            }

            .content__info{
                flex: 0 1 42%;
                margin-left: 40px;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .info__item {
                    display: flex;
                    align-items: center;
                    flex: 0 1 41%;
                    .item__img {
                        img{
                            width: 15px;
                            margin-right: 15px;
                        }
                    }
                    .item__text {
                        @include text($black,24px,400);
                        font-family: Garamond;
                    }
                }
                
            }

            @media screen and (max-width: 1550px) {
                padding-right: 60px;
            }

            @media screen and (max-width: 1330px) {
                padding-right: 40px;
            }

            @media screen and (max-width: 650px) {
                padding-right: 24px;
            }

            @media screen and (max-width: 450px) {
                padding-right: 16px;
            }
        }
    }

    &__wavelength{
        background: linear-gradient(267.29deg, #E11F26 4.23%, #DD408B 104.93%), #DD408B;

        .wavelength__content{
            padding-top: 121px;
            padding-bottom: 78px;
            
            .section_title{
                color: #fff;
                text-align: left;
            }

            .content__info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 54px;

                .info__image {
                    flex: 0 1 49%;
                    img{
                        max-width: 100%;
                    }
                }

                .info__text {
                    flex: 0 1 49%;
                    .text__rhombus{
                        margin: 22px 0px;
                    }
                    .text__item{
                        font-family: Garamond;
                        @include text(#fff,32px,400);
                    }
                }
                
            }
        }
    }

    &__usage{
        padding: 124px 0px 92px 0px;
        .usage__content {
            .content__text {

                display: block;
                max-width: 872px;
                text-align: center;

                margin: 0 auto;
                margin-top: 32px;
                margin-bottom: 69px;
                font-family: Garamond;
                @include text($black,24px,400);

                a{
                    font-family: Garamond;
                    color: #DD408B;
                }
            }

            .content__list {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;
                .list__item {
                    flex: 0 1 17.5%;
                    display: flex;
                    margin-bottom: 60px;

                    .item__img{
                        display: block;
                        
                        img{
                            width: 17px;
                            margin-right: 12px;
                            margin-bottom: -7px;
                        }
                    }
                    
                    .item__info{
                        .info__text{
                            flex: 0 1 100%;
                            margin-left: 23px;
                            padding-top: 12px;
                            font-family: Garamond;
                            @include text($black,20px,400);
                        }
                    }

                    .item__title {
                        font-family: Garamond;
                        @include text($black,24px,400);
                    };
                }
            }
            
        }
    }

    &__procedure {
        background: #F1F1F1;
        padding: 124px 0px 40px 0px;
        .procedure__block{
            padding-top: 45px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 85px;

            .block__item{
                position: relative;
                flex: 0 1 23%;

                .item__media{
                    position: relative;
                    margin-bottom: 22px;
                }

                .item__text{
                    @include text($black,20px,300)
                }

                .item__over-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    background: linear-gradient(267.29deg, rgba(225, 31, 38, 0.5) 4.23%, rgba(221, 64, 139, 0.5) 104.93%);;
                }

                .item__img {
                    max-width: 100%;
                    img{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
    
    &__reviews{
        background: #F1F1F1;
        padding: 124px 0px;

        .reviews__content{
            .content__list{
                display: flex;
                justify-content: space-between;
                margin-top: 53px;

                .list__item {
                    flex: 0 1 32%;
                    background: #fff;
                    padding: 24px;
                    .item__head {
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        .head__image {  
                            margin-right: 20px;
                        }
                        .head__info {
                            .info__name {
                                @include text($black,18px,400);
                                margin-bottom: 4px;
                            }
                            .info__position {
                                @include text($black,14px,700);
                            }
                        }
                    }
                    .item__text {
                        p{
                            font-family: Garamond;
                            margin-bottom: 20px;
                            @include text($black,18px,400)
                        }
                    }
                }
                
            }
        }
    }

    &__skincare{
        padding-top: 124px;
        padding-bottom: 80px;
    }
}